<section class="usa-site-alert usa-site-alert--info" aria-label="Site alert,">
  <div class="usa-alert" style="padding-top:0px;">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">Archived website</h3>
      <p class="usa-alert__text">
        This is historical material “frozen in time”. The website is no longer updated and links to external websites may not work.
      </p>
    </div>
  </div>
</section>
<section class="usa-banner">
  <div class="usa-accordion">
    <header class="usa-banner-header">
      <div class="usa-grid usa-banner-inner"> <img src="https://icon.sergiozygmunt.com/sergio-zygmunt-logo-bw.svg" alt="Sergio Zygmunt Logo">
        <p>A website of Sergio Zygmunt</p> <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner"> <span class="usa-banner-button-text">Here's how you know</span> </button> </div>
    </header>
    <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
      <div class="usa-banner-guidance-gov usa-width-one-half"> <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds/img/icon-dot-gov.svg" alt="Sergio Zygmunt Legit">
        <div class="usa-media_block-body">
          <p> <strong>You can verify I control this domain.</strong> <br> This domain is listed in my candidate filing. You can also verify my control of this domain through <a href="https://keybase.io/sergiozygmunt">Keybase</a>.</p>
        </div>
      </div>
      <div class="usa-banner-guidance-ssl usa-width-one-half"> <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg" alt="Https">
        <div class="usa-media_block-body">
           <p> <strong>The site is secure.</strong> <br> A <strong>lock (🔒)</strong> or <strong>https://</strong> means you’ve securely connected to the website. Share sensitive information only on secure websites. </p>
        </div>
      </div>
    </div>
  </div>
</section>
